/* border-bottom: 1px solid #eee; */

/* コードの最初の部分 */
.foods-show-contents {
  background-color: #f8eedd;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}
.foods-show-main {
  background-color: #FFF;
  min-width: 450px;
  padding: 10vh 12vw;
  align-items: center;
}

/* 画像・説明 */
.img-example {
  height: 300px;
  width: 700px;
  /* background-color: yellow; */
  align-items: center;
  display: flex;
}

.show-img {
  /* background-color: blue; */
  width: 50%;
  height: 100%;
  text-align: center;
}

.food-box-img {
  width: 44vh;
  height: 35vh;
  margin-top: 11px;
}

.action-example {
  /* background-color: red; */
  width: 50%;
  height: 100%;

}

.delete-edit {
  /* background-color: pink; */
  width: 100%;
  height: 20%;
  display: flex;
}
.show-delete {
  /* background-color: black; */
  width: 50%;
  height: 100%;
  text-align: right;
}

.show-edit {
  /* background-color: white; */
  width: 50%;
  height: 100%;
  text-align: center;
}


.show-example {
  /* background-color: green; */
  width: 100%;
  height: 80%;
  justify-content: center;
}

.detail-text {
  padding-top: 32px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
}
.detail-value {
  width: 90%;
  height: 70%;
  border: 1px solid black;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px;
  border-radius:10px / 10px;

}
/* 店名 */
.food-shop {
  height: 120px;
  width: 700px;
  /* background-color: yellow; */
}
.show-name {
  /* background-color: red; */
  height: 100%;
  width: 50%;
}
.shop-text {
  /* background-color: blue; */
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
}
.shop-name {
  /* background-color: yellow; */
  height: 60px;
  text-align: center;
  padding-top: 22px;
  font-size: 26px;

}

/* エリア・予算 */
.area-price {
  /* background-color: yellow; */
  height: 70px;
  width: 700px;
  display: flex;
}
/* エリア */
.show-area {
  /* background-color: red; */
  height: 100%;
  width: 25%;
}
.show-category {
  font-size: 18px;
  padding-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.show-prefecture-category {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.show-price-category {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
/* 予算 */
.show-price {
  /* background-color: blue; */
  height: 100%;
  width: 25%;
}

/* メニュー */
.food-menue {
  background-color: yellow;
  height: 400px;
  width: 700px;
}
.show-menue {
  /* background-color: red; */
  height: 100%;
  width: 50%;
}
/* コメント */


/* ボタン */
.button-edit {
  position: relative;
  display: inline-block;
  padding: 17px 34px;
  font-size: 14px;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 2px #66CCFF solid;
  box-shadow: inset #66CCFF 0 0 0 0;
  transition: 0.3s;
}
.button-edit:hover {
  color: #fff;
  box-shadow: inset #66CCFF 0 0 0 4em;
}

.button-delete {
  position: relative;
  display: inline-block;
  padding: 17px 34px;
  font-size: 14px;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 2px #FFCC33 solid;
  box-shadow: inset #FFCC33 0 0 0 0;
  transition: 0.3s;
}
.button-delete:hover {
  color: #fff;
  box-shadow: inset #FFCC33 0 0 0 4em;
}

