<header class="header-frame">
  <div class="header-inner">
    <div class="logo">
      タイトル（仮）
    </div>
    <form class="form2">
      <input type="search" class="Search-form-input" placeholder="search" />
      <button class="Search-form-button"><i class="fa fa-search"></i></button>
    </form>
    <nav class="header-nav">
      <div class="header-nav-item">
        <a href="#!" class="button-pulse">料理投稿</a>
      </div>
      <div class="header-nav-item">
        <%= link_to '新規登録', new_user_registration_path, class: "button-pulse2" %></li>    
      </div>
    </nav>
  </div>
</header>