<%= render "shared/header" %>
<div class="all-wrapper">  
  <div class="wrapper">
    <div class="container">
      <div class="side">side</div>
      <div class="main">main</div>
    </div>
    <footer>footer</footer>
  </div>
</div>

