/* 全体のレイアウト */
.all-wrapper-re{
  width: 100vw;
  height: 100vh;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 80%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  align-items: center;
}

.registration-main {
  width: 100%;
  min-width: 800px;
  background-color: #f8eedd;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
  min-height: 700px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 50px;
  border-radius:70px / 30px;
  text-align: center;
}

.facebook-btn {
  background-color: #0099FF;
  padding: 3px;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.button-sns-line {
  position: relative;
  display: inline-block;
  padding: 6px 10px;
  font-size: 1em;
  color: #00b5ad;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}

/* 上は特に入力しなくても動くが、範囲を示している */
/* 横のエフェクトに対しての記載 */
@keyframes widthChange {
  0% {
    width: 0%;
    border-color: #00b5ad;
  }

  100% {
    width: 100%;
    border-color: #00b5ad;
  }
}
/* 縦線に対してのエフェクト */
@keyframes heightChange {
  0% {
    height: 1px;
  }
  
  100% {
    height: 100%;
  }
}

.button-sns-line::before {
  /* 枠の位置設定 */
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 1px;
  content: "";
  border-top: 1px transparent solid;
  border-right: 1px transparent solid;
}

.button-sns-line:hover::before {
  animation: widthChange 0.2s forwards, heightChange 0.2s 0.2s forwards;
}

.button-sns-line::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  content: "";
  border-bottom: 1px transparent solid;
  border-left: 1px transparent solid;
}

.button-sns-line:hover::after {
  animation: widthChange 0.2s forwards, heightChange 0.2s 0.2s forwards;
}

.sns-btn {
  /* margin-left: 22px; */
  text-align: center;
  margin-bottom: 15px;
}